/*=================import==============*/
@import "./utils/utils.scss";
/*==polices==*/
@import "./base/base.scss";
/*============index.html================*/
h1{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;    
}
/*=================Header=============*/
header{
    @include greenyellow;
    width: 100%;
    text-align: center;
}
/*=================main=============*/
main{
    display: block;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.transform{
    height: 600px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:   2px 4px black;
}
/*==menu1==*/
.background1{
    background-color: $menu1;
    margin: 2% 2% 2% 2%;
}
/*==menu2==*/
.background1{
    background-color: $menu2;
    margin: 2% 2% 2% 2%;
}
/*==menu3==*/
.background3{
    background-color: $menu3;
    margin: 2% 2% 2% 2%;
}
/*==menu4==*/
.background4{
    background-color: $menu4;
    margin: 2% 2% 2% 2%;
}
/*==prochainement==*/
.prochainement{
    @include greenyellow;
    text-align: center;
    font-size: 150%;
}
/*=================footer=============*/
footer{
    @include greenyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}




