/*=====================sommaire====================*/
/*============index.html==============*/
    /*== 1 import==*/
    /*== 2 index==*/
    /*== 3 header==*/
    /*== 4 main==*/
    /*== 5 menu1==*/
    /*== 6 menu2==*/
    /*== 7 menu3==*/
    /*== 8 menu4==*/
    /*== 9 prochainement==*/
    /*== 10 footer==*/
/*===========menu============*/    
/*===========menu1.html============*/
/*===========menu2.html============*/
/*===========menu3.html============*/
/*===========menu4.html============*/



/*=================import==============*/

@import "./utils/utils.scss";

/*==polices==*/

@import "./base/base.scss";

/*============index.html================*/
h1{ color: $yellow;
    @extend %clic
}
a{
    @extend %clic
}


/*=================Header=============*/

header{
    @include greenyellow;
    width: 100%;
    height: 200px;
    box-shadow: 0px 2px $greenshadow;
    text-align: center;
    h1{
        font-family: 'Roboto-Regular';
        font-size: 75px;
        letter-spacing: -10px;
        margin-top: auto;
        padding-top: 2%;
    }   
}

/*=================main=============*/

main{
    display: block;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.transform{
    height: 600px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  1px 2px 20px rgb(139, 135, 135);
}
/*==menu1==*/

.menu1{
    background-color: $menu1;
    margin: 2% 2% 2% 2%; 
    &:hover {
    background-color: darken($menu1, 5);
    }
    @extend %btn;
}

h2.first_title_menu1{
    font-family: 'Devonshire-Regular';
    color: $menu1txt;   
    }

span.second_title_menu1{
    font-family: 'PWMarker';
    color: $menu1txt;
}

i{
    background-image: linear-gradient(to right, ($note1), ($note2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/*==menu2==*/

.menu2{
    background-color: $menu2;
    margin: 2% 2% 2% 2%;
    &:hover {
        background-color: darken($menu2, 5);
    }
    @extend %btn;
    h2{
        background-image: linear-gradient(to right, ($menu2txt1), ($menu2txt2));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
    }
    span{
        color: $menu2txt3;
    }
}

h2.first_title_menu2{
    font-family: 'Croissantone-Regular',sans-serif;
}

span.second_title_menu2{
    font-family: 'Arial';
}

/*==menu3==*/

.menu3{
    background-color: $menu3;
    margin: 2% 2% 2% 2%;
    &:hover {
        background-color: darken($menu3, 5);
    }
    @extend %btn;
    h2{
        background-image: linear-gradient(to right, ($menu3txt1), ($menu3txt2));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    span{
        color: $menu3txt2;
    }
}

h2.first_title_menu3{
    font-family: 'Dancingscript-Regular';
}
span.second_title_menu3{
    font-family: 'Segoeprint';
}

/*==menu4==*/

.menu4{
    background-color: $menu4;
    margin: 2% 2% 2% 2%;
    &:hover {
        background-color: darken($menu4, 5);
    }
    @extend %btn;
    h2{
        background-image: linear-gradient(to right, ($menu4txt1), ($menu4txt2));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    span{
        color: $menu4txt3;
    }
}

.first_title_menu4{
    font-family: 'KaushanScript-Regular';    
}

.second_title_menu4{
    font-family: 'Segoeprint';
}

/*==prochainement==*/

.prochainement{
    @include greenyellow;
    text-align: center;
    font-size: 150%;
    width: 50%;
    height: 60px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 10px;
}

div.sp{
    font-family: monospace;
    border-right: .15em solid $yellow;
    letter-spacing: .15em ;
    overflow: hidden;
    white-space: nowrap;  
    margin: auto;  
    animation: typing 5s steps(10, end) infinite;          
}

/*=================footer=============*/

footer{
    @include greenyellow;
    position: fixed;
    box-shadow: 0px -2px $greenshadow;
    bottom: 0;
    width: 90%;
    display: flex;    
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    h2{
        color:$yellow;
    }    
}

.mentions{
    &:hover{
        animation: shake .5S ;
        animation-iteration-count: infinite;
        }
}

.mail{
    &:hover{
        animation: shake .5S ;
        animation-iteration-count: infinite;
        }    
}

/*===========menu ============*/

li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    margin-right: 30%;
}

/*===========menu1.html============*/

.background_menu1{
    background-color: $menu1;
    margin-bottom: 68px;
}

.background_menu1 section{
    text-align: center;
    font-family: 'Devonshire-Regular';
    h2{
        font-size: xx-large;
    }
    h3{
        font-size: x-large;
    }
}

.background_menu1 p{
    font-family: 'SegoePrint';
}

p.tarif{
    font-family: 'Devonshire-Regular';
    font-size: large;
}

.background_menu1{
    h3:before, h3:after {
        content:'';
        width:10%;
        border-bottom:$menu1txt solid;
        display:inline-block;
        vertical-align:middle;
    }
    h3:before{
        margin-left:-50%;
        margin-right:3em
    }
    h3:after{
        margin-right:-50%;
        margin-left:3em;
    }
}

.footer_menu1{
    p{
        font-family: 'Devonshire-Regular';
        font-size: xx-large;
    }
}

/*===========menu2.html============*/

.background_menu2{
    background-color: $menu2;
}

/*===========menu3.html============*/

.background_menu3{
    background-color: $menu3b;
}

/*===========menu4.html============*/

.background_menu4{
    background-color: $menu4;
}
