@charset "UTF-8";
/*=====================sommaire====================*/
/*==import==*/
/*============index.html==============*/
/*==index==*/
/*==header==*/
/*==main==*/
/*==menu1==*/
/*==menu2==*/
/*==menu3==*/
/*==menu4==*/
/*==prochainement==*/
/*==footer==*/
/*===========menu============*/
/*===========menu1.html============*/
/*===========menu2.html============*/
/*===========menu3.html============*/
/*===========menu4.html============*/
/*==barre de séparation==*/
/*=================import==============*/
/*==polices==*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: "Devonshire-Regular";
  src: url(../font/Devonshire-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "PWMarker";
  src: url(../font/PWMarker.ttf) format("truetype");
}
@font-face {
  font-family: "CroissantOne-Regular";
  src: url(../font/CroissantOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Dancingscript-Regular";
  src: url(../font/DancingScript-Regular.otf) format("truetype");
}
@font-face {
  font-family: "Segoeprint";
  src: url(../font/SegoePrint.ttf) format("truetype");
}
@font-face {
  font-family: "Kaushanscript";
  src: url(../font/KaushanScript-Regular.otf) format("truetype");
}
/*==============variables=========*/
/*==============mixins============*/
/*==keyframes==*/
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*==extend==*/
.menu4:hover a, .menu3:hover a, .menu2:hover a, .menu1:hover a {
  transform: scale(1.6);
}

a {
  transition: transform 800ms;
  text-decoration: none;
}

/*==media queries==*/
/*==small device==*/
@media screen and (max-width: 576px) {
  main {
    margin-bottom: 150px;
  }

  li {
    display: flex;
    flex-direction: column;
  }

  main.background_menu1 {
    margin-bottom: 90px;
  }

  main.background_menu2 {
    margin-bottom: 90px;
  }

  main.background_menu3 {
    margin-bottom: 90px;
  }

  main.background_menu4 {
    margin-bottom: 90px;
  }

  header {
    margin-bottom: 10px;
  }

  section.prochainement {
    width: 75%;
  }
}
/*==medium device==*/
@media (min-width: 576px) and (max-width: 768px) {
  main {
    margin-bottom: 150px;
  }

  li {
    display: flex;
    flex-direction: column;
  }

  main.background_menu1 {
    margin-bottom: 90px;
  }

  main.background_menu2 {
    margin-bottom: 90px;
  }

  main.background_menu3 {
    margin-bottom: 90px;
  }

  main.background_menu4 {
    margin-bottom: 90px;
  }

  header {
    margin-bottom: 10px;
  }
}
/*==large device==*/
@media (min-width: 768px) {
  main {
    margin-bottom: 150px;
  }
}
/*==polices==*/
/*============index.html================*/
h1 {
  color: #fdcb46;
}

body {
  margin: 0px;
}

/*=================Header=============*/
header {
  background-color: #579c87;
  color: #fdcb46;
  min-width: 100%;
  height: 200px;
  box-shadow: 0px 2px #a1c181;
  text-align: center;
}
header h1 {
  font-family: "Roboto-Regular";
  font-size: 75px;
  letter-spacing: -10px;
  margin-top: auto;
  padding-top: 2%;
}

/*=================main=============*/
main {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 7%;
}

.transform {
  height: 600px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 20px #8b8787;
}

/*==menu1==*/
.menu1 {
  background-color: #fcdfdb;
  margin: 2% 2% 2% 2%;
  transition: 1s;
}
.menu1:hover {
  background-color: #facac3;
}

h2.first_title_menu1 {
  font-family: "Devonshire-Regular";
  color: #3d1319;
}

span.second_title_menu1 {
  font-family: "PWMarker";
  color: #3d1319;
}

i {
  background-image: -webkit-linear-gradient(to right, #f05261, #f6916a);
  background-image: -moz-linear-gradient(to right, #f05261, #f6916a);
  background-image: -o-linear-gradient(to right, #f05261, #f6916a);
  background-image: linear-gradient(to right, #f05261, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*==menu2==*/
.menu2 {
  background-color: #fff5fe;
  margin: 2% 2% 2% 2%;
  transition: 1s;
}
.menu2:hover {
  background-color: #ffdcfb;
}
.menu2 h2 {
  background-image: -webkit-linear-gradient(to right, #e38a12, #8f5aff);
  background-image: -moz-linear-gradient(to right, #e38a12, #8f5aff);
  background-image: -o-linear-gradient(to right, #e38a12, #8f5aff);
  background-image: linear-gradient(to right, #e38a12, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu2 span {
  color: #c77412;
}

h2.first_title_menu2 {
  font-family: "Croissantone-Regular", sans-serif;
}

span.second_title_menu2 {
  font-family: "Arial";
}

/*==menu3==*/
.menu3 {
  background-color: #f9f9f9;
  margin: 2% 2% 2% 2%;
  transition: 1s;
}
.menu3:hover {
  background-color: #ececec;
}
.menu3 h2 {
  background-image: -webkit-linear-gradient(to right, #0889fb, #0230df);
  background-image: -moz-linear-gradient(to right, #0889fb, #0230df);
  background-image: -o-linear-gradient(to right, #0889fb, #0230df);
  background-image: linear-gradient(to right, #0889fb, #0230df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu3 span {
  color: #0889fb;
}

h2.first_title_menu3 {
  font-family: "Dancingscript-Regular";
}

span.second_title_menu3 {
  font-family: "Segoeprint";
}

/*==menu4==*/
.menu4 {
  background-color: #fdfffd;
  margin: 2% 2% 2% 2%;
  transition: 1s;
}
.menu4:hover {
  background-color: #e4ffe4;
}
.menu4 h2 {
  background-image: -webkit-linear-gradient(to right, #beff7f, #3e923a);
  background-image: -moz-linear-gradient(to right, #beff7f, #3e923a);
  background-image: -o-linear-gradient(to right, #beff7f, #3e923a);
  background-image: linear-gradient(to right, #beff7f, #3e923a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu4 span {
  color: #72bf56;
}

.first_title_menu4 {
  font-family: "KaushanScript-Regular";
}

.second_title_menu4 {
  font-family: "Segoeprint";
}

/*==prochainement==*/
.prochainement {
  background-color: #579c87;
  color: #fdcb46;
  text-align: center;
  font-size: 150%;
  width: 50%;
  height: 60px;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-radius: 10px;
}

p.effect {
  font-family: monospace;
  border-right: solid #fdcb46;
  letter-spacing: 0.15em;
  overflow: hidden;
  margin: auto;
  animation: typing 6s steps(10, end) infinite;
}

/*=================footer=============*/
footer {
  background-color: #579c87;
  color: #fdcb46;
  position: fixed;
  box-shadow: 0px -2px #a1c181;
  bottom: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer h2 {
  color: #fdcb46;
}

.mentions {
  margin: 20px;
}
.mentions:hover {
  animation: shake 0.5S;
  animation-iteration-count: infinite;
}

.mail {
  margin: 20px;
}
.mail:hover {
  animation: shake 0.5S;
  animation-iteration-count: infinite;
}

/*===========menu ============*/
li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
  margin-right: 25%;
}

/*===========menu1.html============*/
.background_menu1 {
  text-align: center;
  font-family: "Devonshire-Regular";
  background-color: #fcdfdb;
  margin-bottom: 68px;
}
.background_menu1 h2 {
  font-size: 60px;
  margin: 0 auto;
}
.background_menu1 h3 {
  font-size: x-large;
  display: inline-block;
  margin-top: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: auto;
  background: linear-gradient(to top, #3d1319, 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.background_menu1 h3:hover {
  background-size: 100% 100%;
}
.background_menu1 p {
  font-family: "PWMarker";
}
.background_menu1 p.tarif {
  font-family: "Devonshire-Regular";
  font-size: large;
}

.footer_menu1 p {
  font-family: "Devonshire-Regular";
  font-size: xx-large;
}

.entree-menu1 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}

.plat-menu1 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}

.dessert-menu1 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}

/*===========menu2.html============*/
.background_menu2 {
  text-align: center;
  font-family: "Croissantone-Regular";
  background-color: #fff5fe;
  margin-bottom: 68px;
}
.background_menu2 h2 {
  font-size: 60px;
  background-image: -webkit-linear-gradient(to right, #e38a12, #8f5aff);
  background-image: -moz-linear-gradient(to right, #e38a12, #8f5aff);
  background-image: -o-linear-gradient(to right, #e38a12, #8f5aff);
  background-image: linear-gradient(to right, #e38a12, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
}
.background_menu2 h3 {
  font-size: x-large;
  display: inline-block;
}
.background_menu2 p {
  font-family: "Arial";
}
.background_menu2 p.tarif {
  font-family: "Croissantone-Regular";
  font-size: large;
}

.entree-menu2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}
.entree-menu2 h3 {
  background: linear-gradient(to top, #e38a12, 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.entree-menu2 h3:hover {
  background-size: 100% 100%;
}

.plat-menu2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}
.plat-menu2 h3 {
  background: linear-gradient(to top, #8f5aff, 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.plat-menu2 h3:hover {
  background-size: 100% 100%;
}

.dessert-menu2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}
.dessert-menu2 h3 {
  background: linear-gradient(to top, #0230df, 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.dessert-menu2 h3:hover {
  background-size: 100% 100%;
}

/*===========menu3.html============*/
.background_menu3 {
  text-align: center;
  font-family: "Dancingscript-Regular";
  background-color: #edefef;
  margin-bottom: 68px;
}
.background_menu3 h2 {
  font-size: 60px;
  background-image: -webkit-linear-gradient(to right, #0230df, #0889fb);
  background-image: -moz-linear-gradient(to right, #0230df, #0889fb);
  background-image: -o-linear-gradient(to right, #0230df, #0889fb);
  background-image: linear-gradient(to right, #0230df, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
}
.background_menu3 h3 {
  font-size: x-large;
  display: inline-block;
}
.background_menu3 p {
  font-family: "Segoeprint";
}
.background_menu3 p.tarif {
  font-family: "Dancingscript-Regular";
  font-size: large;
}

.entree-menu3 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}
.entree-menu3 h3 {
  background: linear-gradient(to top, #0230df, 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.entree-menu3 h3:hover {
  background-size: 100% 100%;
}

.plat-menu3 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}
.plat-menu3 h3 {
  background: linear-gradient(to top, #0889fb, 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.plat-menu3 h3:hover {
  background-size: 100% 100%;
}

.dessert-menu3 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}
.dessert-menu3 h3 {
  background: linear-gradient(to top, #022ed5, 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.dessert-menu3 h3:hover {
  background-size: 100% 100%;
}

/*===========menu4.html============*/
.background_menu4 {
  text-align: center;
  font-family: "KaushanScript-Regular";
  background-color: #fdfffd;
  margin-bottom: 68px;
}
.background_menu4 h2 {
  font-size: 60px;
  background-image: -webkit-linear-gradient(to right, #3e923a, #beff7f);
  background-image: -moz-linear-gradient(to right, #3e923a, #beff7f);
  background-image: -o-linear-gradient(to right, #3e923a, #beff7f);
  background-image: linear-gradient(to right, #3e923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
}
.background_menu4 h3 {
  font-size: x-large;
  display: inline-block;
  background: linear-gradient(to top, black, 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.background_menu4 h3:hover {
  background-size: 100% 100%;
}
.background_menu4 p {
  font-family: "Segoeprint";
}
.background_menu4 p.tarif {
  font-family: "KaushanScript-Regular";
  font-size: large;
}

.entree-menu4 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}
.entree-menu4 h3 {
  background: linear-gradient(to top, #beff7f, 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.entree-menu4 h3:hover {
  background-size: 100% 100%;
}

.plat-menu4 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}
.plat-menu4 h3 {
  background: linear-gradient(to top, #beff7f, 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.plat-menu4 h3:hover {
  background-size: 100% 100%;
}

.dessert-menu4 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 700px;
}
.dessert-menu4 h3 {
  background: linear-gradient(to top, #beff7f, 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.dessert-menu4 h3:hover {
  background-size: 100% 100%;
}

.header_menu4 h2 {
  background-image: -webkit-linear-gradient(to right, #beff7f, #3e923a);
  background-image: -moz-linear-gradient(to right, #beff7f, #3e923a);
  background-image: -o-linear-gradient(to right, #beff7f, #3e923a);
  background-image: linear-gradient(to right, #beff7f, #3e923a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*==barre de décoration==*/
.line {
  width: 200px;
}
.line--1 {
  fill: #3d1319;
}
.line--2 {
  fill: #e38a12;
  color: #e38a12;
}
.line--2b {
  fill: #8f5aff;
  color: #8f5aff;
}
.line--2c {
  fill: #0230df;
  color: #0230df;
}
.line--3 {
  fill: #0230df;
}
.line--3b {
  fill: #0889fb;
}
.line--3c {
  fill: #036ecd;
}
.line--4 {
  fill: url(#mygradient);
}
.line--4b {
  fill: url(#mygradient2);
}

/*# sourceMappingURL=style.css.map */
