/*==media-queries==*/

/*==small devices==*/
@media (max-width: 576px)
{
  main{
      background-color: red;
      margin-bottom: 500px;
  } 
  body{
      background-color: red;
  }  
}
/*==medium devices==*/
@media (min-width: 768px){
    body{
        background-color: red;
    }  
}
/*==large devices==*/
@media (min-width: 992px){
    body{
        background-color: red;
    }  
}

