/*==media-queries==*/

@media (max-width: 320px)
{

}
/*==mobiles portrait==*/
@media (min-width: 321px) and (max-width:480px)
{
    body{
        background-color: red;
    }
    svg
    {
        width: 10px;
        ul
        {
            display: flex;
            flex-direction: column;
        }
    }    
}
/*==mobiles landscape==*/
@media (min-width: 481px) and (max-width:720px){
    
}
/*==tablettes==*/
@media only screen and (min-width: 721px)and (max-width:1024px){
    
}
/*==desktops==*/
@media only screen and (min-width: 1025px) and (max-width:1600px){
    
}
/*==large desktops==*/
@media only screen and (min-width: 1601px){
    
}
