/*=================import==============*/
/*==============variables=========*/
/*==============mixins============*/
/*==keyframes==*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*==extend==*/
.menu4:hover a, .menu3:hover a, .menu2:hover a, .menu1:hover a {
  transform: scale(1.9);
}

/*==polices==*/
/*==polices==*/
@font-face {
  font-family: "Devonshire-Regular";
  src: url(../font/Devonshire-Regular/devonshire/Devonshire-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "PWMarker";
  src: url(./base/font/PWMarker/PWMarker.ttf) format("truetype");
}
@font-face {
  font-family: "Croissantone-Regular";
  src: url(./base/font/CroissantOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Dancingscript-Regular";
  src: url(./base/font/DancingScript-Regular.otf) format("truetype");
}
@font-face {
  font-family: "Segoe";
  src: url(./font/Segoe.ttf) format("truetype");
}
@font-face {
  font-family: "Kaushanscript";
  src: url(./base/font/KaushanScript-Regular.otf) format("truetype");
}
/*============index.html================*/
a {
  transition: transform 800ms;
  text-decoration: none;
}

/*=================Header=============*/
header {
  background-color: #579c87;
  color: #fdcb46;
  width: 100%;
  height: 200px;
  box-shadow: 0px 2px #a1c181;
  text-align: center;
}
header h1 {
  font-family: "Roboto-Regular";
  font-size: 75px;
  letter-spacing: -10px;
  margin-top: auto;
  padding-top: 2%;
}

/*=================main=============*/
main {
  display: block;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.transform {
  height: 600px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 20px #8b8787;
}

/*==menu1==*/
.menu1 {
  background-color: #fcdfdb;
  margin: 2% 2% 2% 2%;
}
.menu1:hover {
  background-color: #facac3;
}

h2.first_title_menu1 {
  font-family: "Devonshire-Regular";
}

span.second_title_menu1 {
  font-family: "PWMarker";
}

i {
  background-image: linear-gradient(to right, #f05261, #f6916a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*==menu2==*/
.menu2 {
  background-color: #fff5fe;
  margin: 2% 2% 2% 2%;
}
.menu2:hover {
  background-color: #ffdcfb;
}
.menu2 h2 {
  background-image: linear-gradient(to right, #e38a12, #8f5aff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu2 span {
  color: #c77412;
}

h2 .first_title_menu2 {
  font-family: "Croissantone-Regular";
}

span .second_title_menu2 {
  font-family: "Arial";
}

/*==menu3==*/
.menu3 {
  background-color: #f9f9f9;
  margin: 2% 2% 2% 2%;
}
.menu3:hover {
  background-color: #ececec;
}
.menu3 h2 {
  background-image: linear-gradient(to right, #0230df, #0889fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu3 span {
  color: #0889fb;
}

h2 .first_title_menu3 {
  font-family: "Dancingscript-Regular";
}

span .second_title_menu3 {
  font-family: "Segoe";
}

/*==menu4==*/
.menu4 {
  background-color: #fdfffd;
  margin: 2% 2% 2% 2%;
}
.menu4:hover {
  background-color: #e4ffe4;
}
.menu4 h2 {
  background-image: linear-gradient(to right, #3e923a, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu4 span {
  color: #72bf56;
}

.first_title_menu4 {
  font-family: "KaushanScript-Regular";
}

.second_title_menu4 {
  font-family: "Segoe";
}

/*==prochainement==*/
.prochainement {
  background-color: #579c87;
  color: #fdcb46;
  text-align: center;
  font-size: 150%;
  width: 50%;
  height: 60px;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-radius: 10px;
}

div.sp {
  font-family: monospace;
  border-right: 0.15em solid #fdcb46;
  letter-spacing: 0.15em;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 10s steps(15, end) infinite;
}

/*=================footer=============*/
footer {
  background-color: #579c87;
  color: #fdcb46;
  position: fixed;
  box-shadow: 0px -2px #a1c181;
  bottom: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
footer h2 {
  color: #fdcb46;
}

.mentions:hover {
  animation: shake 0.5S;
  animation-iteration-count: infinite;
}

.mail:hover {
  animation: shake 0.5S;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=style.css.map */
