/*==polices==*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face{
    font-family: 'Devonshire-Regular';
    src: url(./base/font/Devonshire-Regular/devonshire/Devonshire-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'PWMarker';
    src: url(./base/font/PWMarker/PWMarker.ttf) format('truetype');
}
@font-face{
    font-family: 'Croissantone-Regular';
    src: url(./base/font/CroissantOne-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'Dancingscript-Regular';
    src: url(./base/font/DancingScript-Regular.otf) format('truetype');
}
@font-face{
    font-family: 'Segoe';
    src: url(./font/Segoe.ttf) format('truetype');    
}
@font-face{
    font-family: 'Kaushanscript';
    src: url(./base/font/KaushanScript-Regular.otf) format('truetype');
}

