/*==polices==*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face{
    font-family: 'Roboto-Regular';
    src: url(./base/font/Roboto/Roboto-Regular) format('truetype');
}
@font-face{
    font-family: 'Devonshire-Regular';
    src: url(./base/font/Devonshire-Regular/devonshire/Devonshire-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'PWMarker';
    src: url(./base/font/PWMarker/PWMarker.ttf) format('truetype');
}
@font-face{
    font-family: 'Croissantone-Regular';
    src: url(./font/CroissantOne-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'Dancingscript-Regular';
    src: url(./font/DancingScript-Regular.otf) format('truetype');
}
@font-face{
    font-family: 'Segoe';
    src: url(./font/Segoe\ UI.ttf) format('truetype');    
}
@font-face{
    font-family: 'Kaushanscript';
    src: url(./font/KaushanScript-Regular.otf) format('truetype');
}

