/*==media queries==*/

/*==small device==*/
@media ( max-width: $breaksmall){  
        
    li{
        display: flex;
        flex-direction: column;
    }    
    
    header{
        margin-bottom: 10px;
    }

    section.prochainement{
        width: 75%;
    } 

    .background_menu2 h2{
        font-size: 25px;
    }
    
}

/*==medium device==*/
@media (min-width: $breaksmall) and (max-width: $breakmedium){    
    
    li{
        display: flex;
        flex-direction: column;
    }    
    
    header{
        margin-bottom: 10px;
    }

    .background_menu2 h2{
        font-size: 30px;
    }
    
}

/*==large device==*/
@media (min-width: $breakmedium){   

    .background_menu2 h2{
        font-size: 60px;
    } 

}












