/*==media queries==*/

/*==small device==*/

@media ( max-width: $breaksmall){  
        
    li{
        display: flex;
        flex-direction: column;
    }    
    
    header{
        margin-bottom: 10px;
    }

    section.prochainement{
        width: 75%;
    } 

    .background_menu2 h2{
        font-size: 25px;
    }
    
    p.effect{
        font-family: monospace;
        border-right: solid $yellow;
        letter-spacing: .15em ;
        overflow: hidden;  
        margin: auto;  
        animation: typing 10s steps(10, end) infinite;          
    }
}

/*==medium device==*/

@media (min-width: $breaksmall) and (max-width: $breakmedium){    
    
    li{
        display: flex;
        flex-direction: column;
    }    
    
    header{
        margin-bottom: 10px;
    }

    .background_menu2 h2{
        font-size: 30px;
    }
    
    p.effect{
        font-family: monospace;
        border-right: solid $yellow;
        letter-spacing: .15em ;
        overflow: hidden;  
        margin: auto;  
        animation: typing 10s steps(10, end) infinite;          
    }

}

/*==large device==*/

@media (min-width: $breakmedium) and (max-width: $breaklarge){   

    .background_menu2 h2{
        font-size: 60px;
    }
}

/*==xlarge device==*/

@media (min-width: $breakxlarge){
    
}












