/*==media queries==*/

/*==small device==*/
@media (max-width: 576px){
    
    main{
        margin-bottom: 150px;
    }

    li{
        display: flex;
        flex-direction: column;
    }

    main.background_menu1{        
        margin-bottom: 90px;
    } 

    main.background_menu2{        
        margin-bottom: 90px;
    } 

    main.background_menu3{        
        margin-bottom: 90px;
    } 

    main.background_menu4{        
        margin-bottom: 90px;
    }
    
    header{
        margin-bottom: 10px;
    }
    section.prochainement{
        width: 70%;
    }       
}

/*==medium device==*/
@media (min-width: 577px) and (max-width: 768px){
    
    main{
        margin-bottom: 150px;
    }
    
    li{
        display: flex;
        flex-direction: column;
    }

    main.background_menu1{        
        margin-bottom: 90px;
    } 

    main.background_menu2{        
        margin-bottom: 90px;
    } 

    main.background_menu3{        
        margin-bottom: 90px;
    } 
    
    main.background_menu4 {        
        margin-bottom: 90px;
    }
    
    header{
        margin-bottom: 10px;
    }
}
/*==large device==*/
@media (min-width: 769px){
    
    main{
        margin-bottom: 150px;
    }
}












