/*==polices==*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face{
    font-family: 'Devonshire-Regular';
    src: url(../font/Devonshire-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'PWMarker';
    src: url(../font/PWMarker.ttf) format('truetype');
}
@font-face{
    font-family: 'CroissantOne-Regular';
    src: url(../font/CroissantOne-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'Dancingscript-Regular';
    src: url(../font/DancingScript-Regular.otf) format('truetype');
}
@font-face{
    font-family: 'Segoeprint';
    src: url(../font/SegoePrint.ttf) format('truetype');    
}
@font-face{
    font-family: 'Kaushanscript';
    src: url(../font/KaushanScript-Regular.otf) format('truetype');
}

/*==============variables=========*/

//colors

       //bandeau
$green: #579c87;
$yellow:#fdcb46;
$greenshadow: #a1c181;

       //menu1
$menu1: #fcdfdb;
$note1: #f05261;
$note2: #f6916a;
$menu1txt:#3d1319;
$police1menu1:'Devonshire-Regular';
$police2menu1:'PWMarker';

       //menu2
$menu2: #fff5fe;
$menu2txt1: #e38a12;
$menu2txt2: #8f5aff;
$menu2txt3: #c77412;
$police1menu2:'Croissantone-Regular';
$police2menu2:'Arial';

       //menu3
$menu3: #f9f9f9;
$menu3b: #edefef;
$menu3txt1: #0230df;
$menu3txt2: #0889fb;
$police1menu3:'Dancingscript-Regular';
$police2menu3:'Segoeprint';

       //menu4
$menu4: #fdfffd;
$menu4txt1:#3e923a;
$menu4txt2: #beff7f;
$menu4txt3: #72bf56;
$police1menu4:'KaushanScript-Regular';
$police2menu4:'Segoeprint';

      //breakpoints
$breaksmall: 576px;
$breakmedium: 768px; 
$breaklarge: 992px;
$breakxlarge:1200px;

/*==============mixins============*/

@mixin greenyellow {
    background-color: $green;
    color: $yellow;
}


@mixin highlighted($color:black){
    background: linear-gradient(to top, ($color), 2px, transparent 3px) no-repeat;
    background-size: 0 100%;
    transition: background-size 0.3s;
    &:hover{
        background-size: 100% 100%;}
}

@mixin linear-gradient($color3:red,$color4:blue){
    background-image:-webkit-linear-gradient(to right,($color3), ($color4));
    background-image:-moz-linear-gradient(to right,($color3), ($color4));
    background-image:-o-linear-gradient(to right,($color3), ($color4));
    background-image: linear-gradient(to right,($color3), ($color4));     
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin styleline {
    display: flex;
    align-items: center;    
    margin: 0 auto;
    justify-content: space-around;
    max-width: 700px;    
}

/*==keyframes==*/

@keyframes typing{
       from{
           width: 0%;
       }
       to{
           width: 15%;
       }
}

@keyframes shake {
       0% { transform: translate(1px, 1px) rotate(0deg); }
       10% { transform: translate(-1px, -2px) rotate(-1deg); }
       20% { transform: translate(-3px, 0px) rotate(1deg); }
       30% { transform: translate(3px, 2px) rotate(0deg); }
       40% { transform: translate(1px, -1px) rotate(1deg); }
       50% { transform: translate(-1px, 2px) rotate(-1deg); }
       60% { transform: translate(-3px, 1px) rotate(0deg); }
       70% { transform: translate(3px, 1px) rotate(-1deg); }
       80% { transform: translate(-1px, -1px) rotate(1deg); }
       90% { transform: translate(1px, 2px) rotate(0deg); }
       100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*==extend==*/

%btn{
       &:hover a{
              transform: scale(1.60);
          }   
}  

%clic{
    transition:transform 800ms;  
    text-decoration: none;
}






