/*==============variables=========*/
//colors
$green: #579c87;
$yellow: #fdcb46;
$menu1:#fcdfdb;
$menu2:#fff5fe;
$menu3:#f9f9f9;
$menu4:#fdfffd;

/*==============mixins============*/
@mixin greenyellow {
    background-color: $green;
    color: $yellow;
}